// Font
$fontJost: "Jost", sans-serif;
$fontLato: "Lato", sans-serif;

// Colors
$color-black: #222222;
$color-white: #ffffff;
$dark-blue1: #08102e;
$dark-blue2: #040818;
$dark-blue3: #172642;
$light-blue1: #bbd2ff;
